@font-face {
  font-family: "roboto-regular";
  src:
    local("Roboto_SemiCondensed-Regular"),
    url("./fonts/Roboto_SemiCondensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-semibold";
  src:
    local("Roboto_SemiCondensed-SemiBold"),
    url("./fonts/Roboto_SemiCondensed-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-bold";
  src:
    local("Roboto_SemiCondensed-SemiBold"),
    url("./fonts/Roboto_SemiCondensed-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "sfpro-regular";
  src:
    local("SF-Pro-Text-Regular"),
    url("./fonts/SF-Pro-Text-Regular.otf") format("opentype");
}

@font-face {
  font-family: "sfpro-medium";
  src:
    local("SF-Pro-Rounded-Medium"),
    url("./fonts/SF-Pro-Rounded-Medium.otf") format("opentype");
}

@font-face {
  font-family: "sfpro-semibold";
  src:
    local("SF-Pro-Rounded-SemiBold"),
    url("./fonts/SF-Pro-Rounded-SemiBold.otf") format("opentype");
}
