@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-laptop: 870px;
  --breakpoint-tablet: 500px;

  --font-quicksand: quicksand-medium;
  --font-robotoRegular: roboto-regular;
  --font-robotoSemiBold: roboto-semibold;
}
@layer base {
  h1 {
    @apply laptop:text-5xl font-robotoRegular text-5xl;
  }

  h2 {
    @apply laptop:text-5xl font-robotoSemiBold text-3xl;
  }

  li,
  button,
  p {
    @apply font-quicksand;
  }
}
