@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-laptop: 870px;
  --breakpoint-tablet: 500px;

  --font-robotoRegular: roboto-regular;
  --font-robotoSemiBold: roboto-semibold;
  --font-robotoBold: roboto-bold;
  --font-sfproRegular: sfpro-regular;
  --font-sfproMedium: sfpro-medium;
  --font-sfproSemiBold: sfpro-semibold;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-400, currentColor);
  }
}

@layer base {
  h1 {
    @apply laptop:text-5xl font-robotoRegular text-5xl;
  }

  h2 {
    @apply laptop:text-4xl font-robotoSemiBold text-3xl;
  }

  h3 {
    @apply laptop:text-3xl font-robotoSemiBold text-2xl;
  }

  h4 {
    @apply laptop:text-2xl font-robotoSemiBold text-xl;
  }

  h5 {
    @apply laptop:text-2xl font-sfproSemiBold;
  }

  li,
  button,
  p {
    @apply font-sfproRegular text-lg leading-6;
  }
}
